@font-face {
    font-family: 'Jesse James';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/JesseJames.ttf);
}

@font-face {
    font-family: 'Kirsty';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Kirsty.ttf);
}

@font-face {
    font-family: 'Rosewood';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Rosewood.otf);
}

@font-face {
    font-family: 'Victorian Parlor Vintage';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/VictorianParlorVintage.ttf);
}

body, html {
  padding: 0;
  margin: 0;
  min-width: 320px;
}
html {
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

header {
  background-image: url('/img/banner-top.jpg');
  background-position: 0% 15%;
  background-size: cover;
  height: 480px;
  position: relative;
}

#banner {
  padding: 32px 0 0 32px;
}

#logo {
  background-image: url('/img/biglogo.png');
  background-position: -33px -13px;
  background-size: 132%;
  border: 5px solid #4f401c;
  border-radius: 108px;
  display: inline-block;
  height: 216px;
  vertical-align:  middle;
  width: 216px;
  z-index: 2;
}

nav {
  background-color: white;
  border: 5px solid #4f401c;
  border-radius: 16px;
  display: inline-block;
  margin-left: -48px;
  padding: 8px 8px 8px 64px;
  vertical-align: middle;
  width: calc(100% - 240px);
}

#title {
  display: inline-block;
  vertical-align: middle;
}

#title > h1 {
  font-family: 'Victorian Parlor Vintage';
  font-size: 3.8rem;
  margin: 12px 0 0 0;
}

#title > h2 {
  font-family: 'Rosewood';
  font-size: 2.7rem;
  margin: 8px 0 0 0;
}

nav > ul {
  float: right;
  list-style: none;
  margin: 50px 16px 50px 0;
  vertical-align: middle;
}

nav > ul > li {
  border-right: 1px solid #4f401c;
  display: inline-block;
  font-family: 'Jesse James';
  font-size: 2rem;
  transition: background-color 200ms;
}

nav > ul > li:hover {
  background-color: #eee;
}

nav > ul > li:last-child {
  border-right: 0;
}

nav > ul > li > a {
  cursor: pointer;
  text-decoration: none;
  margin: 0 16px;
}

section {
  padding: 32px;
}

section > h1 {
  text-align: center;
  font-family: 'Jesse James';
  font-size: 1.6rem;
  margin: 32px 0;
}

section > p {
  font-family: 'Times New Roman', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

#when {
  background-color: #4f401c;
  color: white;
  height: 400px;
  text-align: center;
}

#when > h1 {
  font-family: 'Rosewood';
  font-size: 2.4rem;
  margin-bottom: 64px;
}

#coming_soon {
  font-family: 'Victorian Parlor Vintage';
  font-size: 4.4rem;
  margin: 32px 0;
  transform: rotate(-15deg);
}

#cant_wait {
  font-family: 'Kirsty';
  font-size: 1.5rem;
  margin-left: 400px;
}

#cant_wait > a {
  color: white;
}

@media only screen and (min-width: 720px) {

}
@media only screen and (min-width: 1024px) {

}
