@font-face {
    font-family: 'Jesse James';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/JesseJames.ttf);
}

@font-face {
    font-family: 'Kirsty';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Kirsty.ttf);
}

@font-face {
    font-family: 'Victorian Parlor Vintage';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/VictorianParlorVintage.ttf);
}

body, html {
  color: #4f401c;
  margin: 0;
  min-width: 480px;
  padding: 0;
  width: 100%;
}
html {
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

header {
  background-image: url('/img/banner-top.jpg');
  background-position: 0% 20%;
  background-size: cover;
  height: 440px;
  position: relative;
}

#logo {
  background-image: url('/img/biglogo.png');
  background-position: -33px -13px;
  background-size: 135%;
  border: 5px solid #4f401c;
  border-radius: 88px;
  display: inline-block;
  height: 176px;
  left: 16px;
  position: absolute;
  top: 16px;
  vertical-align:  middle;
  width: 176px;
  z-index: 2;
}

nav {
  background-color: white;
  border: 5px solid #4f401c;
  border-radius: 16px;
  display: inline-block;
  margin-left: -48px;
  padding: 8px 0 8px 64px;
  left: 172px;
  position: absolute;
  top: 42px;
  vertical-align: middle;
  width: calc(100% - 148px);
  z-index: 1;
}

#title {
  display: inline-block;
  vertical-align: middle;
}

#title > img {
  width: calc(100% - 16px);
}

nav > ul {
  list-style: none;
  margin: 36px 0;
  padding: 0;
  vertical-align: middle;
}

nav > ul > li {
  font-family: 'Jesse James';
  font-size: 1.4rem;
  padding: 8px 0;
  transition: background-color 200ms;
}

nav > ul > li:hover {
  background-color: rgba(79, 64, 28, 0.25);
}

nav > ul > li:last-child {
  border-right: 0;
}

nav > ul > li > a {
  color: #4f401c;
  cursor: pointer;
  text-decoration: none;
  margin: 0 12px;
}

section {
  padding: 32px;
}

section > h1 {
  text-align: center;
  font-family: 'Jesse James';
  font-size: 1.8rem;
  margin: 32px 0;
}

section > p {
  font-family: 'Times New Roman', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

#when {
  background-color: #4f401c;
  color: white;
  height: 440px;
  text-align: center;
}

#when > img {
  height: 32px;
  margin-bottom: 64px;
}

#coming_soon {
  font-family: 'Victorian Parlor Vintage';
  font-size: 3.6rem;
  margin: 32px 0;
  transform: rotate(-15deg);
}

#cant_wait {
  font-family: 'Kirsty';
  font-size: 1.5rem;
  margin-top: 64px;
}

#cant_wait > a {
  color: white;
}

#banner_bottom {
  background-image: url('/img/banner-bottom.jpg');
  background-position: 0% 35%;
  background-size: cover;
  height: 320px;
  position: relative;
}

.bio > img {
  float: left;
  width: 128px;
  margin-right: 16px;
}

.bio > h2 {
  font-family: 'Victorian Parlor Vintage';
  font-size: 2.8rem;
}

.bio > p {
  font-family: 'Times New Roman', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

footer {
  background-color: #4f401c;
  color: white;
  font-family: 'Kirsty';
  font-size: 1.5rem;
  padding: 16px;
}

footer ul {
  list-style: none;
}

footer > ul {
  padding-left: 16px;
}

footer > ul > li {
  padding-bottom: 32px;
}

footer > ul > li > ul {
  padding-left: 32px;
}

footer > ul > li > ul > li {
  margin: 8px 0;
}

@media only screen and (min-width: 720px) {
  #title > img {
    height: 96px;
    width: auto;
  }

  #when {
    height: 400px;
  }

  #cant_wait {
    margin-left: 400px;
  }

  .bio {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 2px);
  }

  .bio.bio-left {
    padding-right: 32px;
  }

  .bio.bio-right {
    padding-left: 16px;
    text-align: right;
  }

  .bio.bio-right > img {
    float: right;
    margin-left: 16px;
    margin-right: 0;
  }
}
@media only screen and (min-width: 1024px) {
  nav > ul {
    float: right;
  }

  nav > ul > li {
    border-right: 1px solid #4f401c;
    display: inline-block;
    font-family: 'Jesse James';
    font-size: 1.6rem;
    transition: background-color 200ms;
  }

  #coming_soon {
    font-size: 4.4rem;
  }

  footer > ul > li {
    display: inline-block;
    vertical-align: top;
    width: 33%;
  }
}
@media only screen and (min-width: 1280px) {
  .bio > img {
    display: inline-block;
    vertical-align: top;
    width: 200px;
  }

  .bio > .bio-details {
    display: inline-block;
    padding: 0 32px;
    vertical-align: top;
    width: calc(100% - 216px);
  }
}
