<!DOCTYPE html>
<html>
{{> head}}
<body>
{{> header}}
<main role="main">
{{> top}}
<main role="main">
  <section id="bibliography">
    <h1>Bibliography</h1>
    <p>
      Puzzling Madness is based on historical events. If you are interested in learning more about the events of Confederation, you should take time to peruse some of the excellent sources we have consulted in designing this game:
    </p>
    <ul>
      <li>Primary Sources<ul>
        <li>Macdonald, Lady Agnes. By Car and Cowcatcher. Murray's Magazine: Volume 1, January 1, 1887. 215&ndash;235. Available on <a href="https://play.google.com/books/reader?id=gEFKAAAAMAAJ&printsec=frontcover&output=reader&hl=en_US&p.&pg=GBS.PA215">Google Play</a>.</li>
        <li>Macdonald, Lady Agnes. On a Canadian Salmon River. Murray's Magazine: Volume 2, July 1, 1887. 447&ndash;461. Available on <a href="https://play.google.com/books/reader?id=VUJKAAAAMAAJ&printsec=frontcover&output=reader&hl=en&pg=GBS.PA447">Google Play</a>.</li>
        <li>Macdonald, Lady Agnes. On a Tobogan. Murray's Magazine: Volume 3, January 1, 1888. 77&ndash;86. Available on <a href="https://play.google.com/books/reader?id=70NKAAAAMAAJ&printsec=frontcover&output=reader&hl=en&pg=GBS.PA77">Google Play</a>.</li>
        <li>Murphy, Michael and Moloney, Patrick, and Mulvey, John and Boyle, Patrick. The Irish Canadian. 1863&ndash;1892. Available on <a href="https://news.google.com/newspapers?nid=M3NEmzRMIkIC&dat=18630121&b_mode=2&hl=en">Google News</a>.</li>
        <li>Scadding, Henry. Toronto of Old. Toronto, Oxford University Press, 1966.</li>
        <li>Shadd, Mary Ann and Ward, Samuel R. and McArthur, Alexander and Newman, William P.. The Provincial Freeman. 1853&ndash;1876. Available on <a href="http://ink.ourdigitalworld.org/pf">Our Digital World</a>.</li>
        <li>Traill, Catharine Parr Strickland. The Backwoods of Canada. Toronto: Viking Canada, 2006.</li>
        <li>Canadian American Reciprocity Treaty of 1854 from <a href="https://ia800203.us.archive.org/23/items/cihm_22476/cihm_22476.pdf">The Internet Archive</a>.</li>
        <li>"Confederation Day in Toronto&mdash;The Programme of Rejoicings." The Globe, July 1, 1867, vol. 24, no. 156, supplement, p. 4, col. 2. Available from <a href="https://www.collectionscanada.gc.ca/confederation/023001-7151-e.html">Library and Archives Canada</a>.
        <li>Ephemera from <a href="http://www.torontopubliclibrary.ca/digital-archive/">Toronto Public Library</a>.
      </ul></li>
      <li>Secondary Sources<ul>
        <li>Eisen, David. "On Toronto's First Synagogue." BillGladstone.ca. (<a href="http://www.billgladstone.ca/?p=8201">http://www.billgladstone.ca/?p=8201</a> retrieved May 8, 2017).</li>
        <li>Hayes, Derek. Historical Atlas of Toronto. Vancouver: Douglas &amp; McIntyre, 2008.</li>
        <li>Jamieson, Keith. Dr. Oronhyatekha: Security, Justice, and Equality. Toronto: Dundurn Press, 2016.</li>
        <li>Martin, Ged. John A. Macdonald: Canada's First Prime Minister. Toronto: Dundurn Press, 2013.</li>
        <li>Moore, Gerald K. "1860 Census of Manufacturing" (accessed May 8, 2017) <a href="http://www.tngenweb.org/wayne/1860mfgcensus.htm">http://www.tngenweb.org/wayne/1860mfgcensus.htm</a>.</li>
        <li>Ng, Nathan. "Old Toronto Maps" (accessed May 8, 2017) <a href="http://oldtorontomaps.blogspot.ca/p/index-of-maps.html">http://oldtorontomaps.blogspot.ca/p/index-of-maps.html</a>.</li>
        <li>Powell, James. A History of the Canadian Dollar. Canada: Bank of Canada, 2005. Available <a href="http://www.bankofcanada.ca/wp-content/uploads/2010/07/dollar_book.pdf">online</a>.</li>
        <li>Raible, Chris. Muddy York Mud: Scandal and Scurrility in Upper Canada. Toronto: Curiosity House, 1992.</li>
        <li>Redmond, Gerald. The Sporting Scots of Nineteenth Century Canada. Fairleigh Dickinson Univ Press, 1982. Page 120. Available on <a href="https://books.google.ca/books?id=KCl1l35K-IcC&pg=PA120&lpg=PA120&dq=david+walker+curling+toronto&source=bl&ots=tEfVj2abVe&sig=Lfq7qj1DsGX3vCHayL-mr5lubAE&hl=en&sa=X&ved=0ahUKEwiR2bbC-eDTAhWhy4MKHSJoDQQQ6AEIWjAJ#v=onepage&q=david%20walker%20curling%20toronto&f=false">Google Play</a>.</li>
        <li>Shadd, Adrienne. The Underground Railroad: Next Stop, Toronto! Toronto: Natural Heritage Books 2002.</li>
        <li>Smardz Frost, Karolyn. I've got a Home in Glory Land: a Lost Tale of the Underground Railroad. Toronto : Thomas Allen, 2007.</li>
        <li>Speisman, Stephen A. The Jews of Toronto: a History to 1937. Toronto: McClelland and Stewart, 1979.</li>
      </ul></li>
      <li>Encyclopedia Articles<ul>
        <li>The Dictionary of Canadian Biography, s.v. "Lindsey, Charles" (accessed May 8, 2017), <a href="http://www.biographi.ca/en/bio/lindsey_charles_13E.html">http://www.biographi.ca/en/bio/lindsey_charles_13E.html</a>.</li>
        <li>The Dictionary of Canadian Biography, s.v. "Nickinson, Charlotte (Morrison)" (accessed May 8, 2017), <a href="http://www.biographi.ca/en/bio.php?id_nbr=6962">http://www.biographi.ca/en/bio.php?id_nbr=6962</a>.</li>
        <li>The Dictionary of Canadian Biography, s.v. "Mackenzie, William Lyon" (accessed May 8, 2017), <a href="http://www.biographi.ca/en/bio/mackenzie_william_lyon_9E.html">http://www.biographi.ca/en/bio/mackenzie_william_lyon_9E.html</a>.</li>
        <li>The Canadian Encyclopedia, s.v. "Abraham Nordheimer" (accessed May 8, 2017), <a href="http://www.thecanadianencyclopedia.ca/en/article/abraham-nordheimer-emc/">http://www.thecanadianencyclopedia.ca/en/article/abraham-nordheimer-emc/</a>.</li>
        <li>The Canadian Encyclopedia, s.v. "Catharine Parr Traill" (accessed May 8, 2017), <a href="http://www.thecanadianencyclopedia.ca/en/article/catharine-parr-traill/">http://www.thecanadianencyclopedia.ca/en/article/catharine-parr-traill/</a>.</li>
        <li>The Canadian Encyclopedia, s.v. "Emily Howard Stowe" (accessed May 8, 2017), <a href="http://www.thecanadianencyclopedia.ca/en/article/emily-stowe/">http://www.thecanadianencyclopedia.ca/en/article/emily-stowe/</a>.</li>
        <li>The Canadian Encyclopedia, s.v. "Iron and Steel Industry" (accessed May 8, 2017), <a href="http://www.thecanadianencyclopedia.ca/en/article/iron-and-steel-industry/#h3_jump_6">http://www.thecanadianencyclopedia.ca/en/article/iron-and-steel-industry/#h3_jump_6</a>.</li>
        <li>The Canadian Encyclopedia, s.v. "John Nickinson" (accessed May 8, 2017), <a href="http://www.thecanadianencyclopedia.ca/en/article/john-nickinson/">http://www.thecanadianencyclopedia.ca/en/article/john-nickinson/</a>.</li>
        <li>The Canadian Encyclopedia, s.v. "Joseph Workman" (accessed May 8, 2017), <a href="http://www.thecanadianencyclopedia.ca/en/article/joseph-workman/">http://www.thecanadianencyclopedia.ca/en/article/joseph-workman/</a>.</li>
        <li>The Canadian Encyclopedia, s.v. "Lady Agnes Macdonald" (accessed May 8, 2017), <a href="http://www.thecanadianencyclopedia.ca/en/article/lady-agnes-macdonald/">http://www.thecanadianencyclopedia.ca/en/article/lady-agnes-macdonald/</a>.</li>
        <li>The Canadian Encyclopedia, s.v. "Mary Ann Shadd" (accessed May 8, 2017), <a href="http://www.thecanadianencyclopedia.ca/en/article/mary-ann-shadd/">http://www.thecanadianencyclopedia.ca/en/article/mary-ann-shadd/</a>.</li>
        <li>The Canadian Encyclopedia, s.v. "Oronhyatekha" (accessed May 8, 2017), <a href="http://www.thecanadianencyclopedia.ca/en/article/oronhyatekha/">http://www.thecanadianencyclopedia.ca/en/article/oronhyatekha/</a>.</li>
        <li>The Canadian Encyclopedia, s.v. "Samuel Nordheimer" (accessed May 8, 2017), <a href="http://www.thecanadianencyclopedia.ca/en/article/samuel-nordheimer-emc/">http://www.thecanadianencyclopedia.ca/en/article/samuel-nordheimer-emc/</a>.</li>
        <li>The Canadian Encyclopedia, s.v. "Sir John Alexander Macdonald" (accessed May 8, 2017), <a href="http://www.thecanadianencyclopedia.ca/en/article/sir-john-alexander-macdonald/">http://www.thecanadianencyclopedia.ca/en/article/sir-john-alexander-macdonald/</a>.</li>
        <li>The Canadian Encyclopedia, s.v. "Sir Sandford Fleming" (accessed May 8, 2017), <a href="http://www.thecanadianencyclopedia.ca/en/article/sir-sandford-fleming/">http://www.thecanadianencyclopedia.ca/en/article/sir-sandford-fleming/</a>.</li>
        <li>Wikipedia, The Free Encyclopedia, s.v. "Canadian Confederation" (accessed May 8, 2017), <a href="https://en.wikipedia.org/wiki/Canadian_Confederation">https://en.wikipedia.org/wiki/Canadian_Confederation</a>.</li>
        <li>Wikipedia, The Free Encyclopedia, s.v. "Pig War (1859)" (accessed May 8, 2017), <a href="https://en.wikipedia.org/wiki/Pig_War_(1859)">https://en.wikipedia.org/wiki/Pig_War_(1859)</a>.</li>
        <li>Wikipedia, The Free Encyclopedia, s.v. "The Maple Leaf Forever" (accessed May 8, 2017), <a href="https://en.wikipedia.org/wiki/The_Maple_Leaf_Forever">https://en.wikipedia.org/wiki/The_Maple_Leaf_Forever</a>.</li>
      </ul></li>
      <li>Image Sources<ul>
        <li>Agnes Macdonald courtesy Library and Archives Canada/MIKAN
3451939.</li>
        <li>John A. Macdonald courtesy Library and Archives Canada/C-010144.</li>
        <li>Emily Howard Stowe courtesy Library and Archives Canada/C-9480.</li>
        <li>Sir Sandford Fleming courtesy Library and Archives Canada/C-14128.</li>
        <li>Mary Ann Shadd courtesy National Archives of Canada, C-029977.</li>
        <li>George Brown courtesy Library and Archives Canada/DAPDCAP 19570.</li>
        <li>Henry Scadding courtesy Library and Archives Canada/C-003536.</li>
        <li>Timothy Eaton courtesy City of Montreal, Document and Archives Management Ægidius Fauteux fonds (BM1)P0643</li>
        <li>Charlotte Nickinson from <a href="http://maryglenchitty.com/charlotte0001.jpg">http://maryglenchitty.com</a>.</li>
        <li>Catharine Parr Traill from Morgan, Henry J. Types of Canadian women and of women who are or have been connected with Canada : (Volume 1) Toronto, 1903. (also available on <a href="https://en.wikipedia.org/wiki/File:Mrs_Catherine_Parr_Traill_by_Topley.JPG">Wikipedia</a>).</li>
        <li>Oronhyatekha from <a href="https://www.flickr.com/photos/deserontoarchives/25485288470/">Deseronto Archives</a>.</li>
        <li>Joseph Workman from Johnson, Christine. <a href="http://uudb.org/articles/josephworkman.html">The biography of Joseph Workman</a>. Dictionary of Unitarian and Universalist Biography, an on-line resource of the Unitarian Universalist History &amp; Heritage Society.</li>
        <li>Samuel Nordheimer from <a href="http://search.proquest.com.ezproxy.torontopubliclibrary.ca/hnpglobeandmail/docview/1356090582/ECD7B52FFA214DA1PQ/130?accountid=14369">Toronto Globe, June 29, 1912</a> cover page article.</li>
        <li>David Walker from <a href="http://www.torontopubliclibrary.ca/detail.jsp?Entt=RDMDC-JRR1061&R=DC-JRR1061">Toronto Curling Club (Red Jacket Rink) &amp; Caledonian Match, Don River. Toronto, Ont.</a>, courtesy Toronto Public Library.
      </ul></li>
    </ul>
  </section>
  {{> bottom}}
</body>
</html>
