<section id="when">
  <div id="video_wrapper">
    <div id="iframe_wrapper">
      <iframe width="720" height="405" src="https://www.youtube.com/embed/973w2QTswQI" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div id="social_wrapper">

        <div class="quote_wrapper">
          <div class="quotey_quote">
            <div class="quote">[We] did The Puzzling Madness of John A. Macdonald and had a wonderful time! If they do this again, you should check it out! ^_^</div>
          </div>
          <div class="source">Errol Elumir, <a href="https://www.facebook.com/RoomEscapeDivas/">Room Escape Divas</a></div>
        </div>
        <div class="quote_wrapper">
          <div class="quotey_quote">
            <div class="quote">What I most appreciated about this game was how it brought historical figures to life and required the players to become part of that narrative.  They have found a great balance between history, narrative, puzzle, and scavenger hunt.</div>
          </div>
          <div class="source">Dr. Scott Nicholson, <a href="http://scottnicholson.com/">Professor of Game Design and Development at Wilfrid Laurier</a></div>
        </div>
        <div class="quote_wrapper">
          <div class="quotey_quote">
            <div class="quote">This was great!</div>
          </div>
          <div class="source">Elli Fairbairn</div>
        </div>
  </div>
  <div id="coming_soon_wrapper" style="width:100%">
    <div id="previewday">More game dates coming soon!</div>
    <div id="tickettailor">
      <!-- Ticket Tailor Widget. Paste this in to your website where you want the widget to appear. Do no change the code or the widget may not work properly. --
      <div class="tt-widget"><div class="tt-widget-fallback"><p><a href="https://www.tickettailor.com/new-order/105715/2fd9/ref/website_widget/" target="_blank">Click here to buy tickets</a><br /><small><a href="http://www.tickettailor.com?rf=wdg" class="tt-widget-powered">Sell tickets online with Ticket Tailor</a></small></p></div><script src="https://dc161a0a89fedd6639c9-03787a0970cd749432e2a6d3b34c55df.ssl.cf3.rackcdn.com/tt-widget.js" data-url="https://www.tickettailor.com/new-order/105715/2fd9/ref/website_widget/" data-type="inline" data-inline-minimal="true" data-inline-show-logo="false"  data-inline-bg-fill="true"></script></div>
      <!-- End of Ticket Tailor Widget -->
    </div>
  </div>
  <div id="map_wrapper" style="display:none">
    <p>
      <span>Investigators depart from:</span><br />
      <a href="https://goo.gl/maps/jw3qW7s8HTJ2">Market Lane Park</a><br />
      (across the street from the St. Lawrence Market)<br />
      93 Front St. E.<br />
      Toronto, ON M5E 1C3<br />
    </p>
    <a href="https://goo.gl/maps/jw3qW7s8HTJ2">
      <img src="/img/map_start.png" />
    </a>
  </div>
</section>
<section id="signup">
  <h1>Sign up for email updates</h1>
  <div id="mc_embed_signup">
  <form action="//savageinter.us16.list-manage.com/subscribe/post?u=29b2eb336845cba4fc99593a0&amp;id=13fa7727a7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">

  	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_29b2eb336845cba4fc99593a0_13fa7727a7" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
  </form>
  </div>
</section>
</main>
<footer id="more">
  <ul>
    <li>About<ul>
      <li><a href="/faq.html">FAQ</a></li>
      <li><a href="/bibliography.html">The History: Bibliography</a></li>
      <!--<li><a href="/press.html">Press Kit</a></li>-->
    </ul></li>
    <li>Connect<ul>
      <li><a href="mailto:founders@savageinter.net">Email</a></li>
      <li><a href="https://www.facebook.com/puzzlingmadness/">Facebook</a></li>
      <li><a href="https://twitter.com/puzzlingmadness">Twitter</a></li>
    </ul></li>
    <li>Contact<ul>
      <li>Savage Internet</li>
      <li>founders@savageinter.net</li>
      <li>647-679-7224</li>
    </ul></li>
  </ul>
  <div id="copyright">
    &copy; 2016-2017 Savage Internet, Inc.  All Rights Reserved
  </div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-100120751-1', 'auto');
  ga('send', 'pageview');

</script>
