<!DOCTYPE html>
<html>
{{> head}}
<body>
{{> header}}
<main role="main">
{{> top}}
<section id="FAQ">
  <h1>What is this?</h1>
  <p>
    The Puzzling Madness of John A. Macdonald is a new kind of experience: a blend of historical tour and escape room game, with a dash of role-playing thrown in. Your team will collect information from historical characters, examine contemporary locations, and solve puzzles together.
  </p>
  <h1>How does the game work?</h1>
  <p>
    Working in a team of up to 12, you will take on the role of an important person from Confederation-era Toronto and be given a map and puzzle sheet. From there, you set about finding clues and solving puzzles around downtown, exploring contemporary sites and browsing historic documents. The game takes roughly 2 hours, during which you will be outside and on your feet.
  </p>
  <h1>Do I need to know a lot about Toronto / Confederation / puzzles in order to play?</h1>
  <p>
    Nope! This game is designed to be fun and accessible for anyone who is interested in learning about Confederation. You don't need prior knowledge to play and win!
  </p>
  <h1>Do I need to buy tickets in advance?</h1>
  <p>
    Yes! Because the game is balanced for a particular number of people, we need to know exactly how many we will be accommodating in a particular run.
  </p>
  <h1>How old do I need to be to play?</h1>
  <p>
    Anyone ages 14 and up can play our game, but if you are under 18 you must have a parent or guardian with you.
  </p>
  <h1>Do I need to bring a printed ticket to the game?</h1>
  <p>
    Nope! We will track the names of those who registered and can match you to your ID. If you transfer your ticket to a friend, we do ask that they bring a printed ticket.
  </p>
  <h1>Can I get a refund for my ticket?</h1>
  <p>
    Unfortunately we can’t accommodate refunds for tickets. However, you can absolutely give your ticket to a friend and allow them to use it.
  </p>
  <h1>Can I transfer my ticket to someone else?</h1>
  <p>
    Yes! You can send your ticket to someone else for them to use. We just ask that they bring a printed copy of the ticket along with them.
  </p>
  <h1>What if it rains / snows / hails / etc.?</h1>
  <p>
    We run games rain or shine (or hail, or snow).  However, in the event of a thunderstorm or other severe weather, we will arrange a rain check date.
  </p>
  <h1>Where do we meet?</h1>
  <p>
    Investigators meet up and depart from the historical plaque on the front of the St. Lawrence Market, located at 93 Front St. E. in downtown Toronto. This location is accessible via public transit (either walking from Union Station or taking the King streetcar to King@Jarvis).
  </p>
</section>
{{> bottom}}
</body>
</html>
