<header>
  <nav>
    <a id="book_now" href="http://buytickets.at/savageinternet" title="Book Tickets Now for The Puzzling Madness of John A. Macdonald!">Book Now!</a>
    <ul id="menu">
      <li><a href="/#">Home</a></li>
      <li><a href="/#what">The Game</a></li>
      <li><a href="/#when">Schedule</a></li>
    </ul>
    <div id="brand">
      <a href="/">
        <img src="/img/biglogo.png" alt="The Puzzling Madness of John A. Macdonald" />
        <img id="brand_name" src="/img/PuzzlingMadness.svg" alt="The Puzzling Madness of John A. Macdonald"/>
      </a>
    </div>
  </nav>
</header>
