<head>
<meta charset="utf-8">
<meta name="google-site-verification" content="kN7sqjey4PsjmRHibZ-DsdNh4aTgZvdOneeCGxiBirM" />

<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The Puzzling Madness of John A. Macdonald</title>
<meta name="description" content="Puzzle and scavenger hunt set in Confederation-era Toronto. Can you unravel the mystery of John A. Macdonald's puzzling madness?">
<meta name="robots" content="index, follow">

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="The Puzzling Madness of John A. Macdonald" />
<meta name="twitter:description" content="Puzzle and scavenger hunt set in Confederation-era Toronto. Can you unravel the mystery of John A. Macdonald's puzzling madness?" />
<meta name="twitter:image" content="https://puzzlingmadness.ca/img/biglogo.png" />
<meta name="twitter:creator" content="@_savage_games_" />
<meta name="twitter:site" content="@_savage_games_" />

<meta property="og:url" content="https://puzzlingmadness.ca/" />
<meta property="og:type" content="article" />
<meta property="og:title" content="The Puzzling Madness of John A. Macdonald" />
<meta property="og:description" content="Blend of historical tour and escape room game set in Confederation-era Toronto. Can your team unravel the mystery of John A. Macdonald's puzzling madness?" />
<meta property="og:site_name" content="The Puzzling Madness of John A. Macdonald" />
<meta property="og:image" content="https://puzzlingmadness.ca/img/biglogo.png" />

<link rel="stylesheet" href="/css/style.css">
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup {
  clear: left;
  width: 100%;
}
#mc_embed_signup input.email {
  font-family: 'Playfair';
  font-size: 1.6rem;
  height: 40px;
}
#mc_embed_signup .button {
  background-color: #93b4e2;
  font-family: 'Playfair';
  font-size: 1.6rem;
  font-style: italic;
  font-weight: bold;
  height: 40px;
}
#mc_embed_signup .button:hover {
  background-color: #6384c2;
}
</style>
</head>
