<!DOCTYPE html>
<html>
{{> head}}
<body>
{{> header}}
<main role="main">
{{> top}}
<section id="what">
  <h1>It is the eve of Canada<span class="h1-quote">&#39;</span>s Confederation&hellip;</h1>
  <p>
    &hellip;and John A. Macdonald has fallen ill! Clues around Toronto's
    historic locations can help unravel the mystery. Will you save the
    new Nation?
  </p>
  <div id="icons_nobg">
    <div class="icon-wrapper">
      <img class="icon" src="/img/icon_clock.png" />
      <div class="icon-description">
        2 hours to solve the mystery
      </div>
    </div>
    <div class="icon-wrapper">
      <img class="icon" src="/img/icon_people.png" />
      <div class="icon-description">
        2-12 players work together
      </div>
    </div>
    <div class="icon-wrapper">
      <img class="icon" src="/img/icon_puzzle.png" />
      <div class="icon-description">
        Puzzles with historical flair
      </div>
    </div>
    <div class="icon-wrapper">
      <img class="icon" src="/img/icon_sun.png" />
      <div class="icon-description">
        Outdoor game experience
      </div>
    </div>
  </div>
  <div id="icons_bg">
    <div class="icon-wrapper-bg" id="icon_wrapper_bg_map">
      <div class="icon-wrapper">
        <img class="icon" src="/img/icon_buggy.png" />
        <div class="icon-description">
          Explore historic Toronto
        </div>
      </div>
    </div><div class="icon-wrapper-bg" id="icon_wrapper_bg_valkyrie">
      <div class="icon-wrapper">
        <img class="icon" src="/img/icon_cameo.png" />
        <div class="icon-description">
          Meet 19<sup>th</sup>-century Canadians
        </div>
      </div>
    </div><div class="icon-wrapper-bg" id="icon_wrapper_bg_evan">
      <div class="icon-wrapper" id="icon_wrapper_canada">
        <img class="icon" src="/img/icon_canada.png" />
        <div class="icon-description">
          Save Canada!
        </div>
      </div>
    </div>
  </div>
</section>
{{> bottom}}
</body>
</html>
